<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.UserAuthMapper">

	<resultMap type="com.spring.domain.UserAuth" id="userAuthResultMap">
		<id property="idx" column="idx"/>
		<result property="identification" column="identification"/>
		<result property="credential" column="credential"/>
		<result property="type" column="type"/>
		<result property="state" column="state"/>
		<association property="user" column="user_idx" javaType="com.spring.domain.User" select="selectUser"></association>
	</resultMap>
	
	<select id="selectUser" resultType="com.spring.domain.User">
		SELECT * FROM user WHERE idx = #{idx}
	</select>

	<select id="selectUserAuth" resultMap="userAuthResultMap">
		SELECT
			*
		FROM user_auth
		WHERE type = #{type}
		AND identification = #{identification}
	</select>
	
	<insert id="insertUserAuth">
		INSERT INTO user_auth (
			user_idx,
			identification,
			credential,
			type,
			state
		) VALUES (
			#{userIdx},
			#{identification},
			#{credential},
			#{type},
			#{state}
		)
	</insert>
	
</mapper>